#!/bin/bash

mkdir -p /var/www/html
cat > /var/www/html/index.html <<EOF
<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<title>ZDD</title>
</head>
<body>
<h1>${title}</h1>
</body>
</html>
EOF

nohup python3 -m http.server ${server_port} --directory /var/www/html &
